select {
  margin-top:5vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.dsnContainer {
  display: flex;
  align-items: center;
}
.dsnContainer h5 {
  flex: 1 1 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;

  letter-spacing: -0.5px;

  color: rgba(0, 0, 0, 0.87);
}
.dsnTokenBox {
  flex: 1 1 0;
  background: #ffffff;
  border: 1.5px solid #d5d5d5;
  border-radius: 4px;
  padding: 15px 0 15px 0;
  display: flex;
  align-items: center;
  height: 25%;
  margin: 0;
  padding: 0;
}

.Wrapper {
  flex: 2 1 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.SwitchLabel {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid #daa;
  border-radius: 20px;
  transition: 0.2s;
}
.SwitchLabel:hover {
  background: #efefef;
}
.OnOffButton {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 20px;
  background: #daa;
  transition: 0.2s;
}

#switch:checked + .SwitchLabel {
  background: #c44;
  border: 2px solid #c44;
}

#switch:checked + .SwitchLabel:hover {
  background: #e55;
}

#switch:checked + .SwitchLabel .OnOffButton {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
.chartContainer {
  display: flex;
  height: 306px;
}

.ErroInfoTitle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;

  letter-spacing: -0.5px;

  color: rgba(0, 0, 0, 0.87);
}

.logBox {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
