.box {
  flex: 0 0 30%;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  height: 306px;
  margin-right: 1%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 7% 6% 0 6%;
}
.header h6 {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
}
.header img {
  padding: 0;
  margin: 0;
}
.chart {
  width: 100%;
  height: 80%;
}
