.error-detail-sub-title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.error-detail-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.error-detail-title-container h1 {
  margin-right: 1%;
}
.error-detail-title-container img {
  width: 32px;
  height: 32px;
  margin-right: 1%;
}
.error-detail-title-container span {
  margin-top: 1%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.error-detail-detail-container {
  display: flex;
  align-items: center;
}
.error-detail-detail-container span {
  border-radius: 40px;
  width: 16px;
  height: 16px;
  background-color: #f05340;
  margin-right: 2%;
}
.error-detail-detail-container p {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;

  color: rgba(0, 0, 0, 0.87);
}

.error-detail-tab-menu {
  margin-top: 3%;
  padding-bottom: 0%;
  border-bottom: 1px solid #d5d5d5;
}

.error-detail-click-tab {
  margin: 3% 4% 0% 0%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 4px solid #f05340;
  color: #f05340;
}

.error-detail-non-click-tab {
  margin: 3% 4% 0% 0%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  color: rgba(0, 0, 0, 0.38);
}

.error-detail-detail-header {
  margin-top: 16px;
  display: flex;
}

.error-detail-event-message {
  flex: 1 1 0;
  font-family: "Pretendard";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.error-detail-event-message p {
  margin: 0;
  padding: 0;
}

.error-detail-error-env {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.error-detail-event-env p {
  margin: 0 0 5% 0;
  padding: 0;
}
.error-detail-event-env div {
  display: flex;
}
.error-detail-event-env div span {
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
.error-detail-event-env div span img {
  margin-right: 10px;
}

.error-detail-version-container {
  display: flex;
  flex-direction: column;
}
.error-detail-version {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.error-detail-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.error-detail-body-container {
  position: relative;
  display: flex;
  flex: 1 1 40%;
  height: 200px;
  /* surface */
  margin: 2% 3% 0 0;
  background: #ffffff;
  /* Outline */
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.error-detail-body-container span {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  background-color: #facdc8;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-right: 1vw;
  color: white;
  padding: 0 5px 0 5px;
}
.error-detail-body-container div {
  flex: 8 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-detail-body-container {
  display: flex;
}

.bread-crumble-body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2% 3% 0 0;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.bread-crumble-body-title {
  display: flex;
  height: 100%;
  background-color: #facdc8;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  color: white;
  padding: 0 5px 0 5px;
}
.bread-crumble-body-container div {
  //   flex: 8 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bread-crumble-body-container li {
  position: relative;
  padding-left: 3em;
  padding-top: 4px;
  margin: 0.45em 0;
  list-style: none;
  line-height: 1.8em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bread-crumble-body-container ol > li:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.8em;
  height: 1.8em;
  line-height: 2em;
  padding: 0px;
  color: var(--white-color);
  background: var(--todo-color);
  font-weight: bold;
  text-align: center;
  border-radius: 0.9em;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bread-crumble-body-container ul > li {
  color: #f37464;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.bread-crumble-body-container ul > li > strong {
  color: #ed331b;
}

.bread-crumble-body-container ul > li:before {
  content: "\2022";
  font-size: 4em;
  padding-right: 1rem;
  line-height: 0.42em;
  position: relative;
  text-align: center;
  padding-bottom: 0.2rem;
}

.bread-crumble-body-container ul > li span {
  padding-right: 1.5em;
}

.bread-crumble-body-container ol > li:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.8em;
  height: 1.8em;
  line-height: 2em;
  padding: 0px;
  color: whitesmoke;
  background: #f37464;
  font-weight: bold;
  text-align: center;
  border-radius: 0.9em;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bread-crumble-body-container ol > li:after {
  position: absolute;
  top: 2.1em;
  left: 0.9em;
  width: 2px;
  height: calc(100% - 2em);
  content: "";
  background-color: #d32611;
  z-index: 0;
}

.bread-crumble-body-container ul,
ol {
  counter-reset: myCounter;
  margin-left: 0;
  padding-left: 5px;
  color: rgb(100, 100, 100);
}
