.subTitle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.titleContainer h1 {
  margin-right: 1%;
}
.titleContainer img {
  width: 32px;
  height: 32px;
  margin-right: 1%;
}
.titleContainer span {
  margin-top: 1%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.detailContainer {
  display: flex;
  align-items: center;
}
.detailContainer span {
  border-radius: 40px;
  width: 16px;
  height: 16px;
  background-color: #db0e33;
  margin-right: 2%;
}
.detailContainer p {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;

  color: rgba(0, 0, 0, 0.87);
}

.tabMenu {
  margin-top: 3%;
  padding-bottom: 0%;
  border-bottom: 1px solid #d5d5d5;
}

.clickTab {
  margin: 3% 4% 0% 0%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 4px solid #00c2d9;
  color: #00c2d9;
}

.nonClickTab {
  margin: 3% 4% 0% 0%;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  color: rgba(0, 0, 0, 0.38);
}

.bHeader {
  margin-top: 16px;
  display: flex;
}

.EventMessage {
  flex: 1 1 0;
  font-family: "Pretendard";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.EventMessage p {
  margin: 0;
  padding: 0;
}
.EventEnv {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.EventEnv p {
  margin: 0 0 5% 0;
  padding: 0;
}
.EventEnv div {
  display: flex;
}
.EventEnv div span {
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
.EventEnv div span img {
  margin-right: 10px;
}

.versionContainer {
  display: flex;
  flex-direction: column;
}
.version {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.bBody {
  display: flex;
  flex-wrap: wrap;
}
.bodyContainer {
  position: relative;
  display: flex;
  flex: 1 1 40%;
  height: 200px;
  /* surface */
  margin: 2% 3% 0 0;
  background: #ffffff;
  /* Outline */
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
.bodyContainer span {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  background-color: #00c2d9;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.87);
  padding: 0 5px 0 5px;
}
.bodyContainer div {
  flex: 8 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bBody {
  display: flex;
}
