.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.modal-box {
  margin-top: 10vh;
  background: white;
  width: 80vw;
  height: 80vh;
  position: relative;
  padding: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
  font-style: bold;
  background: white;
  width: 8px;
  height: 8px;
}
