.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 40%;
  width: 30%;
  transition: 0.3s;
  margin-bottom: 5vh;
  margin-top: 7vh;
  margin-left: 10vh;
  margin-right: 10vh;
  overflow: hidden;
  justify-content: center;
}
.card-link {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}
.card-container:hover {
  box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}
.card-title {
  text-align: center;
  color: #666666;
  font-weight: bold;
  font-size: 2vw;
}
.card-text {
  text-align: center;
  color: #666666;
  font-weight: bold;
  font-size: 1.2vw;
}
.title {
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}
