.error-detail-event-message {
  flex: 1 1 0;
  font-family: "Pretendard";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.error-detail-event-message p {
  margin: 0;
  padding: 0;
}
