.side-container {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  width: 13%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  height: 89%;
  left: 0;
  margin: 0;
  margin-top: -1vh;
  overflow: hidden;
}
.side-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: 600;
  font-family: "Pretendard";
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  height: 10%;
  border-bottom: 1px solid #d5d5d5;
}
.side-items:active {
  color: #f05340;
}

.side-click {
  background-color: #f0534d;
  color: #ffff;
}
