.long-button {
  text-align: center;
  color: black;
  background-color: #facdc8;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 194, 217, 0.1);
  width: 10vw;
  height: 7vh;
  font-size: 16px;
  line-height: 16px;
}

.long-button:hover {
  background-color: #f05340;
  color: white;
  transform: scale(1.15);
}
