.select-platform {
  display: flex;
  flex-direction: column;
  padding: 1.5% 0 1.5% 23px;
  border-bottom: 1px solid #d5d5d5;
}

.language-itmes {
  outline: none;
  background: white;
  overflow: hidden;
  width: 6.25rem;
  height: 100px;

  & {
    background-size: "cover";
    background-repeat: "no-repeat";
    // border: 2px solid #daa;
    outline: none;
    background: white;
    overflow: hidden;
  }
}
.select-platform p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.select-platform span {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.select-platform ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.select-platform ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 5%;
}
.select-platform ul li p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.87);
}
.select-platform .unselect-items {
  width: 75%;
  height: 7vw;
}
