.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  align-items: center;
  background-color: #ffff;
  overflow: hidden;
  z-index: 999;
  height: 11%;
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vh;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  order: 1;
}
.logo-image {
  margin-left: 4vw;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  order: 3;
}
.logout button {
  text-align: center;
  color: black;
  background: #ffff;
  border: 0.1rem solid white;
  border-radius: 0.25rem;
  width: 80px;
  height: 50%;
}
.logout button:hover {
  border: 0.1rem solid #f05340;
  transition: 1.4s;
}
